* text=auto eol=lf

# Графика
*.png   binary
*.jpg   binary
*.jpeg  binary
*.gif   binary
*.webp  binary
*.ico   binary
*.svg   text
*.mp4   binary
*.webm  binary

# Шрифты
*.woff2 binary

# Файлы
*.html  text
*.pug   text
*.css   text
*.scss  text
*.json  text
*.js    text
*.md    text diff=markdown
*.mdx   text diff=markdown
