-
  let siteName = 'Название сайта';

  let headerType = 'default';           // default | minimal | empty
  let footerType = 'default';           // default | minimal | empty
  let isAuthorization = false;          // false | true

  const breakpoints = {
    minimal: 320,
    mobile: 480,
    tablet: 768,
    laptop: 992,
    desktop: 1280,
    large: 1524,
  };
