block config
  include config

include _ui
include _components

doctype html
html(lang="ru")
  include head

  body(class= bodyClass)
    .page
      include ../../blocks/header/header
      main.page__content
        block main
      include ../../blocks/footer/footer

    block modals
